/tmp
.DS_Store

# ignore files containing sensitive info
config.ru
/spec/setup_credentials.rb

*.gem

.rvmrc
.rspec

_SpecRunner.html

/node_modules

/spec/internal/db/combustion_test.sqlite3

*.swp
*.swo

.ruby-version
.rbenv-gemset
.rbenv-gemsets
