<div id="content" class="upload">
  <div class="left-pane">
    <div class="upload-list">
      <ul>
        <li>
          <span class="name"></span>
          <span class="size"></span>
        </li>
      </ul>
    </div>

    <div class="upload-wrapper">
      <%= multipart_uploader_form(types: ['video'], 
                                  input_name: 'uploader', 
                                  button_class: 'submit-button', 
                                  button_text: 'Upload selected videos', 
                                  html: %Q{<button class="upload-button" type="submit"><strong>Select a Video</strong></button>}) %>
    </div>
  </div>
</div>

